
:root
{
    --black-color:#000;
    --gray-color: #757575;
    --skill-color:#009688;
    --white-color:#fff;
}

*
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html
{
    font-size:62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.grid
{
    /* width: 1200px; */
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width
{
    width: 100%;
}

.grid__row
{
    display: flex;
}

.grid__column-4
{
    width: 33.3334%;  
}

.grid__column-8
{
    width: 66.6667%;
    margin-bottom: 42px;
}